
* {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.motivational-img {
    width: 100%;
    border: 5px solid white;
    border-radius: 20px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 4px;
    
}

p {
    color: white;
    text-align: center;
}